@using OrchardCore.Workflows.Timers;
@model OrchardCore.Olaf.Dummy.DummyEventViewModel

<span>
    No set up is required. This event is to allow the workflow to reply before kicking off a long running process.
</span>